<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmers Buudy</title>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">

    style
        include ../static/style.css
</head>
<body>
    <header>
        <nav class="navbar">
            <ul style="margin-top: 0px;">
                <li><a href="#" class="a2" id="a2_1"> About </a></li>
                <li><a href="#" class="a2" id="a2_2"> Contact </a></li>
                <li><a href="#" class="a2" id="a2_3"> Services </a></li>
                <li><a href="/trimport" class="a2" id="a2_4"> Home </a></li>
                
                <div class="search">
                    <input type="text" name="search" id="Search" placeholder="Search this website">
                    <button type="submit" value="Submit" class="search_re">Search</button>
                </div>
            </ul>
        </nav>
    </header>
    <div id='bodybox'>
        <div id='chatborder'>
          
          <p id="chatlog1" class="chatlog">&nbsp;</p>
          <input type="text" name="chat" id="chatbox" placeholder="Hi there! Type here to talk to me." >
        </div>
    </div>
    <button type="submit" value="Submit" class="bot"  id ="close" onclick="open_chat()">Chat Here!</button>
        
    
    <h1 id="Heading" class="heading" style="padding-top: 0px">Farmers Buddy</h1>
    <span id="Subhead1" class="c1"> <em>This website will help the farmers with farming tips, in this pandemic of  </em><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank" id= "class"><strong id="Covid">COVID-19 </strong> </a> </span>
    <br>
    <br>
    <div id="trust">
    <div id="absoluteCenteredDiv" class="loginformbuild">
        <form action="index.html" method="post">
            <div class="box">
                <h1>Login Form</h1>
                <input class="username" name="username" type="text" placeholder="User Name">
                <input class="username" name="username" type="password" placeholder="Password">
                <a href="/homepage"><div class="button">Sign In</div></a>
            </div>
        </form>
        <p id="forgot">Forgot your password? <a class="fpwd" href="#">Click Here!</a></p>
        <br>
        <br>
        <p id="notregistered">Not registered yet?<a class ="fpwd" href="/registerpage"> Click here!</a></p>
    </div>
</div>


    <ul type="circle">
    <li class="help">Click To<a href="http://google.com"target="_blank"> Google it!!</a></li>
    <li class="help">also <a href="http://facebook.com"target="_blank">facebook!!</a></li>
    </ul>
    <br>
    <span class="c1"><em>Lorem ipsum dolor sit amet consectetur adipisicing. </em><br><em class="c1">Corporis, inventore quod vero laboriosam aperiam assumenda architecto consequuntur aut ea nulla?</em></span>
    
    <br>

    <a href="#" target="_blank">next</a>
    <footer>This is footer</footer>
    
</body>
</html>